{% extends "base_auth.html" %}
{% load static %}
{% block content %}

<style>
.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
.link-light {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<div class="row" >
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <img src="{% static 'images/static/images/blog/businessblog.jpg' %}" class="image-center" />
          <h4 style="text-align: center;">Oops! You need to Login before viewing this page!</h4>
        </div>

        <form action="" method="post">
          {% csrf_token %}
          <a href="{% url 'register_view' %}" class="link-light" style="text-align: center;">Register your account with a different email address</a>
        </form>

      </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}
