{% extends "base_auth.html" %}
{% load static %}
{% block content %}

<style>
.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
</style>

<div class="row" >
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <img src="{% static 'images/static/images/blog/businessblog.jpg' %}" class="image-center" />
          <h5 style="text-align: center;">Check your mail to activate your account</h5>
        </div>

        <form action="" method="post">
          {% csrf_token %}

          {% include 'partials/messages.html' %}
          <a href="{% url 'register' %}" class="link-light" style="text-align: center;">Click here Login with our username and email address</a>
        </form>

      </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}
